$sy2d-glass: #00adef;
$sy2d-glass-2: #6de7fe;
$hackdfw-yellow: #fcd900;
$hackdfw-yellow-2: #f0d900;

$sy2d-warm-gray: #cdcccb;
$sy2d-dark-gray: #555556;
$sy2d-black: #231f20;
$sy2d-night: #04817f;
$sy2d-apple: #8cc63e;
$sy2d-violet: #900971;
$sy2d-bubble: #ec008b;
$sy2d-leaf: #008c44;
