@font-face {
  font-family: "Brandon Grotesque";
  src: url("https://cdn.weareasterisk.com/fonts/brandon/BrandonGrotesque-Bold.woff2") format("woff2"),
    url("https://cdn.weareasterisk.com/fonts/brandon/BrandonGrotesque-Bold.woff") format("woff"),
    url("https://cdn.weareasterisk.com/fonts/brandon/Brandon_bld.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("https://cdn.weareasterisk.com/fonts/brandon/BrandonGrotesque-Regular.woff2") format("woff2"),
    url("https://cdn.weareasterisk.com/fonts/brandon/BrandonGrotesque-Regular.woff") format("woff"),
    url("https://cdn.weareasterisk.com/fonts/brandon/Brandon_reg.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
