@import "./_colors.scss";
@import "./_fonts.scss";

body {
  font-family: "Brandon Grotesque", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @extend .font-weight-medium;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Brandon Grotesque", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
.nav-center {
  background-color: white;
  .nav-link {
    color: black !important;
    @extend .link-black;
  }
}
*/

.table td {
  border: 0;
  padding: .5rem;
}

.start-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  background: url("https://cdn.weareasterisk.com/hackathon-assets/hackdfw/artwork/sy2d-skyline.svg") no-repeat bottom, linear-gradient($sy2d-glass, $sy2d-glass-2);
}

.sy2d-background {
  width: 100%;
  flex: 1;
}

.navbar-brand {
  margin-right: 0;
}

.asterisk-nav-logo {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  max-height: 50px;
  padding-left: 78px;
  padding-right: 78px;
}

@media (min-width: 768px) {
  .nav-link {
    margin-top: 8px;
  }

  .navbar-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .col-1 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .asterisk-nav-logo {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }

  .nav-row {
    width: auto!important;
  }
}

@media (max-width: 991px) {
  .nav-vanish {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .asterisk-nav-logo {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.link-base {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  transition: 0.2s;
}

.link-base:hover {
  text-decoration: none;
  padding-bottom: 4px;
  display: inline-block;
}

.link-white {
  @extend .link-base;
  color: white;
}

.link-white:hover {
  @extend .link-base:hover;
  color: white;
  border-bottom: 4px solid white;
}

.link-black {
  @extend .link-base;
  color: black;
}

.link-black:hover {
  @extend .link-base:hover;
  color: black;
  border-bottom: 4px solid black;
}

.navbar-toggler {
  padding-top: 12px;
  padding-left: 18px;
  border: 0!important;
}

.navbar-toggler:active {
  border: 0!important;
}

.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler-icon {
  color: white!important;
  background: url('data:image/svg+xml;base64,
  PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iM
  jYiIGhlaWdodD0iMjYiCnZpZXdCb3g9IjAgMCAyMTAgMjEwIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZ
  pbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm
  9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIH
  N0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXd
  laWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb
  2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDIxMHYtMjEwaDIxMHYyMTB6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZml
  sbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTI2LjI1LDQzLjc1Yy0zLjE1NTU2LC0wLjA0NDYzIC02LjA5MDcxLDEuNjEzM
  jggLTcuNjgxNTIsNC4zMzg4OWMtMS41OTA4MSwyLjcyNTYgLTEuNTkwODEsNi4wOTY2MiAwLDguODIyMjNjMS41OTA
  4MSwyLjcyNTYgNC41MjU5NSw0LjM4MzUxIDcuNjgxNTIsNC4zMzg4OWgxNTcuNWMzLjE1NTU2LDAuMDQ0NjMgNi4wO
  TA3MSwtMS42MTMyOCA3LjY4MTUyLC00LjMzODg5YzEuNTkwODEsLTIuNzI1NiAxLjU5MDgxLC02LjA5NjYyIDAsLTg
  uODIyMjNjLTEuNTkwODEsLTIuNzI1NiAtNC41MjU5NSwtNC4zODM1MSAtNy42ODE1MiwtNC4zMzg4OXpNMjYuMjUsO
  TYuMjVjLTMuMTU1NTYsLTAuMDQ0NjMgLTYuMDkwNzEsMS42MTMyOCAtNy42ODE1Miw0LjMzODg5Yy0xLjU5MDgxLDI
  uNzI1NiAtMS41OTA4MSw2LjA5NjYyIDAsOC44MjIyM2MxLjU5MDgxLDIuNzI1NiA0LjUyNTk1LDQuMzgzNTEgNy42O
  DE1Miw0LjMzODg5aDE1Ny41YzMuMTU1NTYsMC4wNDQ2MyA2LjA5MDcxLC0xLjYxMzI4IDcuNjgxNTIsLTQuMzM4ODl
  jMS41OTA4MSwtMi43MjU2IDEuNTkwODEsLTYuMDk2NjIgMCwtOC44MjIyM2MtMS41OTA4MSwtMi43MjU2IC00LjUyN
  Tk1LC00LjM4MzUxIC03LjY4MTUyLC00LjMzODg5ek0yNi4yNSwxNDguNzVjLTMuMTU1NTYsLTAuMDQ0NjMgLTYuMDk
  wNzEsMS42MTMyOCAtNy42ODE1Miw0LjMzODg5Yy0xLjU5MDgxLDIuNzI1NiAtMS41OTA4MSw2LjA5NjYyIDAsOC44Mj
  IyM2MxLjU5MDgxLDIuNzI1NiA0LjUyNTk1LDQuMzgzNTEgNy42ODE1Miw0LjMzODg5aDE1Ny41YzMuMTU1NTYsMC4wN
  DQ2MyA2LjA5MDcxLC0xLjYxMzI4IDcuNjgxNTIsLTQuMzM4ODljMS41OTA4MSwtMi43MjU2IDEuNTkwODEsLTYuMDk2
  NjIgMCwtOC44MjIyM2MtMS41OTA4MSwtMi43MjU2IC00LjUyNTk1LC00LjM4MzUxIC03LjY4MTUyLC00LjMzODg5eiI
  +PC9wYXRoPjwvZz48L2c+PC9zdmc+') 50% 50% no-repeat!important;
}

.nav-row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.p-around-0 {
  padding-top: 0!important;
  padding-left: 0!important;
  padding-right: 0!important;
}

.margin-center {
  margin: 0 auto;
}

.image-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
}

.sy2d-image {
  @extend .image-center;
  max-height: 260px;
  width: 100%;
  max-width: 100%;
}

.font-weight-medium {
  font-weight: 600;
}

.no-border {
  border: 0;
}

.register-button {
  @extend .font-weight-bold;
  @extend .no-border;
  color: black;
  width: 176px;
  height: 40px;
  border-radius: 20px;
  background-color: $hackdfw-yellow;
  font-size: 16px;
}

.register-button:hover {
  background-color: $hackdfw-yellow-2;
  color: black;
}

.register-button:active,
.register-button:focus {
  @extend .register-button:hover;
}

.start-info {
  @extend .font-weight-medium;
  @extend .text-center;
  @extend .f-24;
}

.section-spacer {
  height: 3.375rem;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-24 {
  font-size: 24px;
}

.about-text {
  @extend .text-justify;
  @extend .f-20;
}

.title-underline {
  &:after {
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height: .6rem;
  }
  margin-bottom: 2rem;
  padding-bottom: .6rem;
  display: table;
  position:relative;
}

.subtitle-underline {
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .3rem;
  }
  margin-bottom: 1rem;
  padding-bottom: .3rem;
  display: table;
  position: relative;
}

.background-glass {
  background: $sy2d-glass;
}

.background-night {
  background: $sy2d-night;
}

.background-apple {
  background: $sy2d-apple;
}

.background-violet {
  background: $sy2d-violet;
}

.background-bubble {
  background: $sy2d-bubble;
}

.background-leaf {
  background: $sy2d-leaf;
}

.background-warm-gray {
  background: $sy2d-warm-gray;
}

.border-glass {
  border-color: $sy2d-glass;
}


.color-glass {
  color: $sy2d-glass;
}

.color-night {
  color: $sy2d-night;
}

.color-apple {
  color: $sy2d-apple;
}

.color-violet {
  color: $sy2d-violet;
}

.color-bubble {
  color: $sy2d-bubble;
}

.color-leaf {
  color: $sy2d-leaf;
}

.color-dark-grey {
  color: $sy2d-dark-gray;
}


.about-title {
  &:after {
    @extend .background-apple;
  }
  @extend .title-underline;
}

.schedule-title {
  &:after {
    @extend .background-bubble;
  }
  @extend .title-underline;
}

.schedule-day-title {
  //&:after {
  //  @extend .background-bubble;
  //}
  //@extend .subtitle-underline;
  @extend .background-bubble;
  display: table;
  border-radius: 50px;
  padding: .25rem 1rem;
  color: white;
}

.faq-title {
  &:after {
    @extend .background-violet;
  }
  @extend .title-underline;
}

.faq-question {
  &:hover {
    @extend .background-violet;
    background-color: rgba($sy2d-bubble, .4);
  }
  @extend .f-18;
  transition: .1s;
  @extend .font-weight-bold;
  @extend .nomargin;
  padding: .32rem;
}

.faq-highlighted {
  background-color: rgba($sy2d-violet, .9) !important;
  color: white !important;
}

.sponsors-title {
  &:after {
    @extend .background-glass;
  }
  @extend .title-underline;
}

.sponsors-row {
  @extend .justify-content-center;
  @extend .align-items-center;
  padding-bottom: 1.8rem;
}

.sponsors-col {
  padding: .5rem;
}

.font-italic {
  font-style: italic;
}

.logo-caption {
  @extend .font-weight-medium;
  @extend .text-center;
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}

.event-time {
  @extend .font-weight-bold;
  @extend .f-20;
  max-width: 200px;
  width: 200px;
}

.event-event {
  @extend .font-weight-bold;
  @extend .f-20;
  @extend .color-bubble;
}

.event-location {
  line-height: 1;
  @extend .color-dark-grey;
}

.event-info {
  min-width: 220px;
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.nospacing {
  @extend .nopadding;
  @extend .nomargin;
}
